@import "_variables";

*{
  padding:0;
  margin:0;
}

.wrap{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}

.left{
  margin-top:2vh;
  display:flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width:30%;
  height:88vh;
  background-color: $sec-color;

  h2{
  margin:0 50px 0 50px;
  color:white;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .list{
    margin:0 20px 0 20px ;
    border:2px solid $prm-color;
    border-radius: 30px;
  }

  .list li{
    margin:30px;
    color:$prm-color;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
}

.right{
  margin-top:2vh;
  display:flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width:30%;
  height:88vh;
  background-color: $sec-color;

  h2{
  margin:0 50px 0 50px;
  color:white;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .top10{
    margin:0 20px 0 20px ;
    border:2px solid $prm-color;
    border-radius: 30px;
  }

  .top10 li{
    margin:30px;
    color:$prm-color;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
}



main{
  margin-top:2vh;
  display:flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width:40%;
  height:88vh;
  background-color: $sec-color;
  

  .dealer{
    display: flex;
    justify-content: center;
    align-items: center;

    .div__card-dealer{
      margin-left:20px;
      width:4vw;
      height: 12vh;
      border:2px solid $prm-color;
      background-color: $sec-color;
      border-radius:10px;
      display: flex;
      justify-content: center;
      align-items: center;

      p{
        font-size:50px;
        color:white;
      }
    }
  }

  .player{
    display: flex;
    justify-content: center;
    align-items: center;

    .div__card-player{
      margin-left:20px;
      width:4vw;
      height: 12vh;
      border:2px solid $prm-color;
      background-color: $sec-color;
      border-radius:10px;
      display: flex;
      justify-content: center;
      align-items: center;

      p{
        font-size:50px;
        color:white;
      }
    }
  }

  .dealer-display{
    border:2px solid $prm-color;
    background-color: $sec-color;
    border-radius:20px;
    height: 25vh;
    width:10vw;
    display: flex;
    justify-content: center;
    align-items: center;

    p{
      font-size: 110px;
      color:white;
    }
  }
}


.div__display{
  border:2px solid $prm-color;
    border-radius:20px;
    height: 25vh;
    width:10vw;
    background-color: $sec-color;
    display: flex;
    justify-content: center;
    align-items: center;

    p{
      font-size: 110px;
      color:white;
    }
}

.btn{
  display:grid;
  grid-template-columns:  1fr 1fr;

  button{
    padding:15px 30px 15px 30px;
    margin:15px;
    border:2px solid $prm-color;
    border-radius: 10px;
    background-color: $sec-color;
    color:$prm-color;

    &:hover{
      background-color: $prm-color;
      color:$sec-color;
      transition: 0.6s ease;
    }
  }
}


