* {
  padding: 0;
  margin: 0;
}

h1 {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, black, darkred);
  color: white;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 90vh;
}